*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: rgb(173, 216, 230);
    text-align: center;
}

nav{
    display: inline-flex;
    justify-content: center;
    background-color: rgb(218, 165, 32);
    margin: 1rem;
    width: 75%;
}

main{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

main .container:nth-of-type(even){
    background-color: rgb(211, 211, 211);
}

#logo{
    border: 3px dotted black;
    padding: 1rem;
}

#link{
    flex-grow: 2;
    text-align: center;
    border: 3px dotted black;
    padding: 1rem;
}

#login{
    border: 3px dotted black;
    padding: 1rem;
}

#headerbot{
    display: flex;
    justify-content: center;
    background-color: rgb(0 0 139);
    padding: 15%;
}

#violet{
    background-color: rgb(238, 130, 238);
    width: 55%;
}

#verde{
    background-color: rgb(34, 139, 34);
    width: calc();
    
}

.container{
    display: flex;
    justify-content: center;
    text-align: center;
    padding: 2em 14em;
}

.azzurro{
    background-color: rgb(30, 144, 255);
    flex-grow: 4;
    padding: 10%;
}

.rosa{
    background-color: rgb(255, 192, 203);
    flex-grow: 2;
    padding: 10%;
}